* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", monospace; /* Make sure you have a Nerd Font installed */
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border: 1px solid #cba6f7;
}

#workspaces {
    background-color: #1e1e2e;
    margin: 4px;
    padding: 0px 5px;
    border-radius: 16px;
    border: 1px solid #181825;
}

#workspaces button {
    padding: 0px 5px;
    color: #cdd6f4;
}

#workspaces button.active {
    color: #cba6f7;
}

#workspaces button.focused {
    color: #cba6f7;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid white;
}

#window,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#custom-power {
    background-color: #1e1e2e;
    padding: 0 10px;
    margin: 4px 2px;
    border: 1px solid #181825;
    border-radius: 16px;
    color: #cdd6f4;
}

#window {
    background-color: #181825;
    color: #cba6f7;
}

#clock {
    color: #fab387;
}

#network {
    color: #a6e3a1;
}

#bluetooth {
    color: #89b4fa;
}

#pulseaudio {
    color: #f9e2af;
}

#battery {
    color: #a6e3a1;
}

#battery.charging, #battery.plugged {
    color: #a6e3a1;
}

#battery.critical:not(.charging) {
    background-color: #f38ba8;
    color: #1e1e2e;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-power {
    background-color: #f38ba8;
    color: #1e1e2e;
    padding-right: 14px; /* Adjust for centering */
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
